<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="register">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Register to SAMS</h3>
        <p>Create account to see it in action.</p>
        <form class="m-t" role="form" novalidate name="register">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required="" ng-model="user.name" name="name">
                <label style="color: red" class="pull-left control-label" ng-show="register.name.$dirty">
                    <label ng-show="register.name.$error.required">必填</label>
                </label>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" ng-model="user.email" name="email" ng-focus="focus()">
                <label style="color:red" class="pull-left control-label" ng-show="register.email.$dirty||register.email.$invalid||user.checkAccount">
                    <label ng-show="register.email.$error.required">必填</label>
                    <label ng-show="register.email.$error.email">非法的邮箱地址</label>
                    <label ng-show="user.checkAccount">账号已存在</label>
                </label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password" name="password">
                <label style="color:red" class="pull-left control-label" ng-show="register.password.$dirty">
                    <label ng-show="register.password.$error.required">必填</label>
                </label>
            </div>
            <button type="button" class="btn btn-primary block full-width m-b" ng-click="logon()" ng-disabled="register.$invalid">Register</button>

            <p class="text-muted text-center">
                <small>Already have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="login">Login</a>
        </form>
        <p class="m-t">
            <small>Student Association Management System by tppppp4free@gmail.com</small>
        </p>
    </div>
</div>

