<!DOCTYPE html>
<html ng-app="show" ng-controller="show">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <style type="text/css">
        .footer{
            background-color: #333;
            color: white;
            height: 80px;
        }
    </style>
</head>
<body>
    <div class="nav-tabs"></div>
    <div class="container">
        <div class="col-lg-3"></div>
    </div>
    <div class="footer">
        <div class="container">
            <p>
                version1.0
            </p>
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>